src/main/java/META-INF/sitemesh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sqq.com/sitemesh"
	targetNamespace="http://www.sqq.com/sitemesh" elementFormDefault="qualified">

	<xs:element name="template" type="templateType" />
	<xs:complexType name="templateType">
		<xs:sequence>
			<xs:element name="insert" type="insertType" />
			<xs:element name="component" type="componentType" />
		</xs:sequence>
		<xs:attribute name="path"  type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="insertType">
		<xs:attribute name="property"  type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="componentType">
		<xs:attribute name="name"  type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>